.container-item{
    display: flex;
    
    padding: 10px;
    background-color: #F5F5F5;
}

.container-item img{
    max-height: 90px;
    background-color: #ebe7e7;
}

.container-item-detalhes{
    margin: 0px 6px;
}

.container-item h2{
    margin: 0px 0px 5px 0px;
}

.button-remove{
    height: 20px;
    background-color: transparent;
    border: 0px;
    margin-left: auto;
}

.button-remove:hover{
    text-decoration: underline;
}

.button-qnt{
    border-radius: 100%;
    width: 20px;
    height: 20px;
    padding: 0px;
    margin-right: 5px;
    margin-top: 3px;
    border: 0px;
}

.container-item-qnt{
    margin-top: 3px;
}

.soma{
    background-color: rgb(19, 221, 86);
}

.sub{
    background-color: rgba(204, 58, 14, 0.87);
}

